services:
  php:
    image: registry.sapaig.local:5000/sapaig/debian-12-php82:2.6.0
    networks:
      - frontend
      - backend
    ports:
      - '8409:9000'
    volumes:
      - ./:/var/www/html/
      - ./../free:/var/www/composer/free
      - ~/.ssh/:/user.ssh
  apache:
    image: registry.sapaig.local:5000/sapaig/debian-12-apache2:2.0.5
    depends_on:
      - php
    networks:
      - frontend
      - backend
    environment:
      - DOCUMENTROOT=www
      - SERVERNAME=dev.freeasso.fr
    ports:
      - '8480:80'
    volumes:
      - ./:/var/www/html/
      - ./docker-logs:/var/log/apache2
  mailhog:
    image: registry.sapaig.local:5000/sapaig/debian-12-mailhog:2.0.0
    ports:
      - '8425:8025'
    networks:
      - backend
networks:
  frontend:
  backend:
