<?php

date_default_timezone_set('Europe/Paris');
error_reporting(E_ALL & ~E_DEPRECATED & ~E_STRICT);
ini_set('log_errors', 1);
ini_set('display_errors', 0);
ini_set('memory_limit', '4096M');
ini_set('error_log', APP_LOG . '/php-error.log');
ini_set('precision', 15);